@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.button {
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
}