@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
    margin-right: 50px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {

    .button {
        width: auto;
        height: auto;
        background-color: transparent;
        color: white;
        border-radius: 15px;
        font-family: 'Source Code Pro', monospace;
    }
}