
.trumpet {
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(150%);
    margin: 0;
    padding: 0;
    text-indent: -1000em;

}

.trumpetButton {
    display: inline-block;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    border: 0;
    color: white;
    overflow: hidden;

}