.navBar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
}

.list {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeLink {
    border-bottom: black solid 3px;
    color: white;
}